@font-face {
font-family: 'Quicksand-Regular';
font-style: normal;
font-weight: normal;
src: url(../font/Quicksand-Regular.otf);
}
@font-face {
font-family: 'Quicksand-Bold';
font-style: normal;
font-weight: normal;
src: 
url(../font/Quicksand-Bold.otf);
}
@font-face {
font-family: 'Quicksand_Dash';
font-style: normal;
font-weight: normal;
src: url(../font/Quicksand_Dash.otf);
}

$yellow: #ffd800;
$green: #00d9a5;
$grey: #494949;
$nurse-blue: #0A8FE9;
$light-grey: #e8e8e8;
$deep-grey: #b7b7b7;
$black: #202020;
$transparent-backgroound: #ffffff00;
$box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
$box-shadow-btn:  0px 0px 6px -2px rgba(0,0,0,1);


*{
    font-family: 'Quicksand-bold' !important;
    font-size: 14px;

    @media (max-width: 380px) {
        font-size: 12px;
    }
}
body{
    padding-top: 73px !important;
}
.box-shadow{
   box-shadow: $box-shadow;
}
.link-unstyled {
  &,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    color: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}
.bg-black{
    background-color: $black;
}
.bg-nurse-blue{
    background-color: $nurse-blue;
}
.bg-orange{
    background-color: #F47503;
}

@media (min-width: 1200px){
    .container{
        max-width: 1268px;
    }
}
.grey{
    color: $grey;
}
.bg-light-grey{
    background-color: $light-grey;
}
.bg-green{
    background-color: $green;
}
.btn{
    border-radius: 30px;
    color: $grey;
    border: none;
    &:focus{
        box-shadow: none !important;
        border-color: none !important;
    }
}
.box-shadow-btn{
    box-shadow: $box-shadow-btn;
}
.btn-primary{
    background: $yellow;
    &:hover{
        color: white;
        background-color: $green;
    }
    &:focus{
        background-color: $yellow !important;
        color: $grey;
    }
}

.navbar-nav li a{
    &:hover{
        color: $green !important;
    }
}
.header-banner{
    // background-image: url(../img/nurseandfam.png);
    // background-repeat: no-repeat;
    // min-height: 90vh;
    // background-size: 900px;
    // background-position: right -210px top -77px;

    // @media (max-width: 767px) {
    //     .row{
    //         margin-top: 100px;
    //     }
    // }
    .carousel-control-next, .carousel-control-prev{
        width: 9%;
    }
    .banner-img{
        @media (max-width:767px){
           width: 75% !important;
        }
    }
}

section{
    padding: 5rem 0rem;
}
.font-bold{
    font-family: 'Quicksand-Bold' !important;

}
input{
    &:focus{
        box-shadow: none !important;
        border: $green 1px solid !important;
    }
}
.card{
    border-radius: 20px;
}

//Footer----------------------------------------------------------------------------------------
.footer{
  background:$black;
  color:white;
  
  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:$green;
        }
    }
    @media(max-width: 767px){
        margin-top: 20px;
        li{
            padding: 3px 0px;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}
//footer end------------------------------------------------------------------

// .header-col{
    // @media (max-width: 767px){
    //     background-color: #fffffff0;
    //     padding: 30px 0px;
    //     border-radius: 30px;
    //     box-shadow: $box-shadow;
    //     margin: 0 1rem;
    // }
// }

//scroll down bounce-----------------------------------------------------------

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid $green;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid $green;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
//scroll down end -------------------------------------------------------------

.indicators {
    margin-right: auto;
    margin-left: auto;
    background-color: $light-grey;
    width: 176px;
    padding: 5px;
    bottom: 60px;
    border-radius: 30px;
    -webkit-box-shadow: inset 0px 0px 9px -4px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 9px -4px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 9px -4px rgba(0,0,0,1);

    @media(max-width: 767px){
        bottom: 10px;
    }

    li{
        height: 20px;
        border-bottom: unset;
        border-top: unset;
        width:60px;
        text-indent: unset;
        border-radius: 30px;
        background-color: $transparent-backgroound;

       
    }

     .active{
            background-color: $deep-grey !important;
            color: black !important;
            -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,1);
            -moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,1);
            box-shadow: 0px 0px 6px -2px rgba(0,0,0,1);
        }

} 
//Testimonial----------------------------------------------------------------------------
.testimonial{
    h1 {
        // color: #000;
        // font-size: 26px;
        // font-weight: 300;
        text-align: center;
        // text-transform: uppercase;
        position: relative;
        margin: 30px 0 70px;
    }
    h1::after {
        content: "";
        width: 100px;
        position: absolute;
        margin: 0 auto;
        height: 3px;
        border-radius: 1px;
        background: $green;
        left: 0;
        right: 0;
        bottom: -20px;
    }
    .carousel {
        margin: 50px auto;
        padding: 0 70px;
        @media(max-width: 767px){
            padding: 0 0;
        }
    }
    .carousel .item {
        color: #999;
        overflow: hidden;
        min-height: 120px;
        font-size: 13px;
    }
    .carousel .media img {
        width: 80px;
        height: 80px;
        display: block;
        border-radius: 50%;
    }
    .carousel .testimonial {
        padding: 0 15px 0 60px ;
        position: relative;
    }
    .carousel .testimonial::before {
        content: '\"';
        color: $green;
        font-weight: bold;
        // font-family: 'Quicksand-Bold';
        font-size: 68px;
        line-height: 54px;
        position: absolute;
        left: 15px;
        top: 0;
    }
    .carousel .overview b {
        text-transform: uppercase;
        color: $green;
    }
    .carousel .carousel-indicators {
        bottom: -40px;
    }
    .carousel-indicators li, .carousel-indicators li.active {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin: 1px 3px;
    }
    .carousel-indicators li {	
        background: #e2e2e2;
        border: 4px solid #fff;
    }
    .carousel-indicators li.active {
        color: #fff;
        background: $green;    
        border: 5px double;    
    }
    .testmonial-img{
        border-radius: 20px;
    }
}